@import url('https://fonts.googleapis.com/css2?family=Tinos&display=swap');

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: 'Tinos', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}
